/**Fonts*/
@font-face {
    font-family: 'IBM_Plex_Sans';
    src: url(../fonts/IBMPlexSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM_Plex_Sans_Thin';
    src: url(../fonts/IBMPlexSans-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}

/**Layout*/
html {
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}


body {
    font-family: 'IBM_Plex_Sans',
        sans-serif;
    text-decoration: none;
    color: #242424;
    max-width: 1920рх;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.link-white {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color: #fff;
    text-decoration: none;
}

.link-white:hover {
    color: #A3CC40;
    transition: 0.2s;
}

.link-underline {
    border-bottom: 1px solid;

}

header {
    background: url('../images/main.jpg') no-repeat;
    background-size: cover;
    height: 682px;
}

.block01__col1 {
    float: left;
    padding-top: 30px;
}

.block01__col2 {
    float: left;
    padding-top: 30px;
}

.block01__tel,
.block01__mail,
.block01__address,
.block01__call {
    float: left;
    line-height: 2;
    margin-left: 50px;
    font-family: 'IBM_Plex_Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.block01__address {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: #fff;
}

.block01__language {
    float: right;
    line-height: 2;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 50px;
}

.dropdown {
    position: relative;
}

.dropdown__list {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: -15px;
    bottom: 0;
    transform: translateY(100%);
}

.dropdown__list a {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: .2s;
    padding: 5px 15px;
    display: block;
}

.dropdown__list a:hover {
    color: #90d23d;
}

.dropdowm__trigger span {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    display: inline-block;
}

.dropdowm__trigger img {
    fill: #fff;
    vertical-align: middle;
    display: inline-block;
}

.dropdown_opened .dropdowm__trigger img {
    transform: rotate(180deg);
}

.dropdown_opened .dropdown__list {
    display: block;
}

.dropdowm__trigger:hover span {
    color: #90d23d;
}

.dropdowm__trigger:hover img {
    fill: #90d23d;
}

.block01__nav {
    padding: 5 0 0;
}

.block01__row2 {
    float: left;
    margin: 0;
    font-family: 'IBM_Plex_Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    line-height: 16px;
    display: inline-block;
}


.block01__nav {
    float: left;
    line-height: 2;
    margin-left: 50px;
    font-family: 'IBM_Plex_Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 20px;
}



.block01__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    color: #fff;
    text-decoration: none;
}

.block01__link:hover {
    color: #A3CC40;
    transition: 0.2s;
}

.block01__nav li {
    display: inline;
    margin-left: 50px;
    line-height: 2;
    margin-left: 50px;
    line-height: 16px;
}

.block01::after {
    content: '';
    display: block;
    border-top: 130px solid transparent;
    border-right: 100vw solid #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
}

.block02 {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 27px 39px rgba(163, 204, 64, 0.18);
    border-radius: 10px;
    padding: 30px 47px;
    max-width: 420px;
    right: 60px;
    bottom: -50px;
}

.block02__text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 15px;
}

.block02__title {
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    margin-bottom: 15px;
}

.why {
    padding: 50 0 0;
}

.why h2 {
    margin-bottom: 84px;
    margin-top: 40px;
}

.why__card {
    width: 245px;
    height: 338px;
    float: left;
    margin-right: 55px;
}

.why__card h3 {
    margin-top: 40px;
    margin-bottom: 25px;
}

.present {
    margin-top: 100px;
    background-image: url('../images/present_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 587px;
    position: relative;
}

.present p {
    color: #fff;
    margin-right: 250px;
    margin-left: 500px;
    color: #fff;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    /* margin-bottom: 30px;  */
}

.present::after {
    content: '';
    display: block;
    border-top: 130px solid transparent;
    border-right: 100vw solid #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
}

.present::before {
    content: '';
    display: block;
    border-bottom: 130px solid transparent;
    border-left: 100vw solid #FFFFFF;
    position: relative;
    left: 0;
    bottom: 0;
}

.present__title {
    font-family: 'IBM_Plex_Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    text-align: right;
    color: #FFFFFF;
    /* margin-top: -150px; */
    margin-right: 250px;
    margin-bottom: 30px;
}

.rounded {
    position: relative;
    border-radius: 100%;
    /* margin-top: -150px; */
    margin-bottom: -300px;
    margin-left: 100px;
    z-index: 1000;
}

.film__card {
    height: 200px;
    float: left;
    width: 280px;
    border-collapse: collapse;
    color: transparent;
    background-repeat: no-repeat;
}

/* .film__card_shadow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .8;
    background: #000;
    z-index: 10;
    transition: .2s;
}

.film__card_shadow:hover    {
    opacity: .4;
}

.film__card_description {
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    top: 100%;
    background: rgba(144, 210, 61, 0.6);
    transition: .2s;
    transition-delay: .2s;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    z-index: 20;
}

.film__card_description:hover   {
    top: 0;
} */





.film__link {
    line-height: 1.33;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 29px;
    line-height: 38px;
}


.film__card:hover {
    color: #fff;
    transition: 0.2s;
}

.film__card1_backgroundimage {
    background-image: url('../images/the_revenant.png');
    height: 200px;
}

.film__card2_backgroundimage {
    background-image: url('../images/ice.png');
    height: 200px;

}

.film__card3_backgroundimage {
    background-image: url('../images/the_martian.png');
    height: 200px;
}

.film__card6_backgroundimage {
    background-image: url('../images/territory.jpg');
    height: 200px;
}

.feedback {
    background-image: url('../images/feedback_background.png');
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 938px;
    position: relative;
}

.feedback::after {
    content: '';
    display: block;
    border-top: 100px solid transparent;
    border-right: 100vw solid #FFFFFF;
    position: absolute;
    left: 0;
    bottom: 0;
}

.feedback::before {
    content: '';
    display: block;
    border-bottom: 100px solid transparent;
    border-left: 100vw solid #FFFFFF;
    position: relative;
    left: 0;
    bottom: 0;
}

.feedback h3 {
    color: #fff;
}

.feedback p {
    color: #fff;
}

.feedback__display {
    display: flex;
    flex-direction: row;
}


.card {}

.card__image {}

.card__header {}

.card__text {}

.block2__table {
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: top;
}

.block2__table th {
    background: #A3CC40;
    padding: 10px 20px;
    text-align: left;
}

.block2__link {
    text-decoration: none;
    width: 146.56px;
    height: 26px;
    line-height: 1.3;
    color: #fff;
}

.block2_link svg {
    display: inline-block;
    vertical-align: top;
    margin-top: 11px;
}

.block2__table td {
    background: #4C4D4F;
    padding: 10px 20px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}

.block2__table tr:nth-child(2n) td {
    background: #373737;
}

h1 {
    font-family: 'IBM_Plex_Sans_Thin';
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    text-align: center;
    color: #FFFFFF;
}

.underh1 {
    font-family: 'IBM_Plex_Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 41px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 200px;

    /* position: absolute;
    width: 592px;
    height: 53px;
    left: 266px;
    top: 231px; */
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 62px;
    color: #A3CC40;
    margin-bottom: 40px;
}



h3 {
    font-family: 'IBM_Plex_Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    text-align: center;

    color: #333333;
}


p {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 14px;
    text-align: center;

    color: #333333;
}

form {
    width: 400px;
}

input,
textarea,
select {
    font-size: 19px;
    color: #6c6c6c;
    padding: 15px 11px;
    border: 1px solid #bebebe;

    border-radius: 5px;
    width: 100%;
    outline: 0;
    transition: .2s;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../img/down-arrow.svg) 96% center / 5% no-repeat #fff;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    font-size: 16px;
    padding-left: 23px;
    position: relative;
}

input[type="radio"]+label::before,
input[type="checkbox"]+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 14px;
    height: 14px;
    border: 1px solid #000;
}

input[type="radio"]+label::before {

    border-radius: 100%;
}

input[type="textarea"] {
    height: 250px;
    resize: none;
}

input[type="file"] {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    z-index: 1;
    box-shadow: none;
    border: 0;
}

input[type="file"]+label {
    font-size: 18px;
    color: #90d23d;
    position: relative;
    border: 1px solid #90d23d;
    padding: 15px;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"],
button {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

input[type="button"]:hover,
button:active {
    border: none;
}

.button {
    display: inline-block;
    padding: 16px 30px;
    font-size: 18px;
    color: #fff;
    background-color: rgb(144, 210, 61);
    border-radius: 15px;
}

.st-input1 {
    position: relative;
}

.st-input1__label   {
    /* position: absolute; */
    text-align: left;
    transition: .2s;
    font-size: .75rem;
    color: #a1a1a1;
    top: .6rem;
    z-index: 0;
    left: .75rem;
}

.st-input1:hover,
.st-input1_focused  {
    background: #FFFFFF;
    box-shadow: 0 0 0 .25rem rgba(170, 243, 77, 0.52);
}

.st-input1_focused .st-input1__label    {
    top: -.5rem;
    color: #333333;
    background: #fff;
    padding: 0 .25rem;
    left: .5rem;
}

.st-input1__input   {
    font-size: .75rem;
    color: #333333;
    position: relative;
    padding: .6rem, .75rem;
    z-index: 1;
    display: block;
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: .25rem;
}

.st-input1_error    {
    box-shadow: 0 0 0 .25rem rgba (220, 60, 15 , .5);
}

.st-input1_err-msg  {
    font-size: .55rem;
    position: absolute;
    bottom: .1rem;
    left: .75rem;
    color: #dc3c10;
}

.input-select   {
    font-size: .75rem;
    margin-bottom: 1.5rem;
    color: #a1a1a1;
    padding: .6rem .75rem;
    border-radius: .25rem;
    border: 0;
    width: 100%;
    transition: 0.2s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /**добавить файл с рисунком*/
    background: url("../images/down-arrow.svg") 96% center / 5% no-repeat #dedede;
}

.input-select-selected {
    background-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(170, 243, 77, 0.52);
}

.st-checkbox input  {
    display: none;
}

.st-checkbox    {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #333333;
    font-size: .5rem;
    margin-bottom: 1.5rem;
}

.st-checkbox__dot   {
    border: 1px solid rgb(170, 243,77);
    border-radius: .2rem;
    width: .8rem;
    height: .8rem;
    flex: none;
    margin-right: .3rem;
}

.st-checkbox input:checked + .st-checkbox__dot  {

}


.film-inner {
     display: grid;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 0;
}